body {
  background-color: #012A4A;
}

div {
  color: white;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #FCA311;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #8B8C89;
  padding: 20px;
  padding-top: 70px;
}

nav a {
  color: rgb(38, 32, 59);
  text-decoration: none;
  font-size: 30px;
}

#music.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}

#audiobook.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}

.ahg {
  text-align: left;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 20px;
}
.search-button {
  background-color: #FCA311;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  float: right;
  margin: 20px;
  margin-left: -150px;
  margin-right: 86px;
  margin-bottom: 160%;
}

.first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.trending-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2) ;
}

.flowers {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin:auto;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 0px;
  align-content: center;
}

.flower {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    align-content: center;
}



nav {
  display: flex;
  justify-content: space-around;
  background-color: #8B8C89;
  padding: 20px;
  padding-top: 70px;
}

nav a {
  color: rgb(38, 32, 59);
  text-decoration: none;
  font-size: 30px;
}

#music.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}

#audiobook.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}

.ahg {
  text-align: left;
  width: 400px;
  height: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; 
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-button {
  background-color: #FCA311;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  float: right;
  margin: 20px;
  margin-left: -150px;
  margin-right: 86px;
  margin-bottom: 160%; 
}

.second-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.recent-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2) ;
}
#hi {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  width: 200px;
  height: 100px;
}

#trending {
  font-size: 20px;
  background-color: #385973;
  border: none;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font: weight 200px;
}
#trending:hover {
  background-color: #977135;
  color: white;
  cursor: pointer;
}

.he{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  overflow: hidden;
  background-color: #8B8C89;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-items: center;
}

.navbar a {
  justify-content: space-around;
  float: left;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #041F35;
  color: white;
}

.dd{
  display: flex;
  justify-content: space-around;
  color: rgb(38, 32, 59);
  font-size: 30px;
  background-color: #8B8C89;
  padding: 20px;
  padding-top: 25px;
 }
 /* style="color: white; font-size: 80px; margin: 0; margin-top: -57px; margin-left: 8px;" */



div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.bottom{
  height:100px

}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll-cell {
  background: #EEE;
}

.scroll-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.scroll-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
